@use "../../global/" as g;

.sitemap {
  width: g.pxClamp(320px, 1160px);
  margin-inline: auto;
}

.sitemap__item {
  border-bottom: 1px solid g.colors(base-black);
}

.sitemap__item > a,
.sitemap__item > span {
  position: relative;
  display: inline-block;
  padding: 1em 0 1em 3.5em;
  color: g.colors(base-black);
  font-size: g.remClamp(16px, 18px);
  font-weight: 700;
  transition: color .25s;
}

.sitemap__item > a::before,
.sitemap__item > span::before {
  position: absolute;
  content: '';
  width: 2.5em;
  height: 2.5em;
  top: 50%;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(-50%);
}
.sitemap__item > a::after {
  position: absolute;
  content: '';
  width: calc(100% - 3em);
  height: 1px;
  bottom: .8em;
  left: 3em;
  background-color: g.colors(main);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .25s;
}

.sitemap__child {
  padding: .25em 0 1em 1em;
}

.sitemap__childItem > a {
  position: relative;
  display: inline-block;
  padding: .5em 0 .5em 1em;
  color: g.colors(base-black);
  font-size: g.remClamp(16px, 18px);
  font-weight: 700;
  transition: color .25s;
}
.sitemap__childItem > a::before {
  position: absolute;
  content: '';
  width: .2em;
  height: .2em;
  border-radius: 50%;
  top: 50%;
  left: 0;
  background-color: g.colors(base-black);
  transform: translateY(-50%);
}
.sitemap__childItem > a::after {
  position: absolute;
  content: '';
  width: calc(100% - 1em);
  height: 1px;
  bottom: .3em;
  left: 1em;
  background-color: g.colors(main);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .25s;
}

.sitemap__item > a,
.sitemap__childItem > a {
  @include g.hover() {
    color: g.colors(main);

    &::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.sitemap__item > a.--top::before {
  background-image: url(../img/sitemap/icon_top.png);
}
.sitemap__item > a.--properties::before {
  background-image: url(../img/sitemap/icon_prop.png);
}
.sitemap__item > a.--trade::before {
  background-image: url(../img/sitemap/icon_trade.png);
}
.sitemap__item > a.--merit::before {
  background-image: url(../img/sitemap/icon_merit.png);
}
.sitemap__item > span.--column::before {
  background-image: url(../img/sitemap/icon_column.png);
}
.sitemap__item > a.--contact::before {
  background-image: url(../img/sitemap/icon_contact.png);
}
.sitemap__item > a.--faq::before {
  background-image: url(../img/sitemap/icon_faq.png);
}
.sitemap__item > a.--news::before {
  background-image: url(../img/sitemap/icon_news.png);
}
.sitemap__item > a.--privacy::before {
  background-image: url(../img/sitemap/icon_privacy.png);
}
.sitemap__item > a.--company::before {
  background-image: url(../img/sitemap/icon_company.png);
}
.sitemap__item > a.--english::before {
  background-image: url(../img/sitemap/icon_english.png);
}
