@use 'sass:math';
@use 'strip-unit' as su;

@function calcPx($min, $max, $minViewport: 360px , $maxViewport: 1440px) {
  $minSU: su.strip-unit($min);
  $maxSU: su.strip-unit($max);
  $minVpSU: su.strip-unit($minViewport);
  $maxVpSU: su.strip-unit($maxViewport);

  @return calc(#{$min} + (#{$maxSU} - #{$minSU}) * ((100vw - #{$minViewport}) / (#{$maxVpSU} - #{$minVpSU})));
}
