@use "../../global/" as g;

.top-kv {
  position: relative;
  height: g.pxClamp(560px, 680px);
  overflow: hidden;
}

.top-kv__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 255, 0.01));
  z-index: 101;
}

.top-kv__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1360px;
  margin-inline: auto;
  padding: g.pxClamp(80px, 160px) g.pxClamp(20px, 40px) g.pxClamp(20px, 60px);

  @include g.mq(md) {
    justify-content: flex-start;
  }
}

.top-kv__slide {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: g.pxClamp(40px, 60px);

  @include g.mq(sm) {
    width: g.pxClamp(320px, 480px);
    margin-left: g.pxClamp(0px, 100px);
    padding-top: 0;
  }
}
.top-kv__slideContents {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 110;
  @include g.mq(sm) {
    width: g.pxClamp(320px, 480px);
  }
}
.top-kv__slideSwitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .25s;
}
.top-kv__slideSwitch.is-standby {
  left: 100%;
}
.top-kv__slideSwitch.is-active {
  left: 0;
  animation: slideShow .8s ease-in-out;
}
.top-kv__slideSwitch.is-hidden {
  left: 100%;
  animation: slideHide .8s ease-in-out;
}
@keyframes slideShow {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideHide {
  0% {
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.top-kv__title {
  margin-bottom: g.pxClamp(28px, 32px);
  color: g.colors(base-white);
  font-size: g.pxClamp(32px, 48px);
}
.top-kv__copy {
  margin-bottom: g.pxClamp(24px, 30px);
  color: g.colors(base-white);
  font-size: g.pxClamp(16px, 20px);
  line-height: 1.75;
}
.top-kv__btn {
  text-align: center;
  @include g.mq(sm) {
    text-align: left;
  }
}

.top-kv__slideBtn {
  position: absolute;
  bottom: 0;
  width: g.pxClamp(40px, 50px);
  height: g.pxClamp(40px, 50px);
  background-color: transparent;
  border-radius: g.pxClamp(40px, 50px);
  transition: background-color .25s;
  z-index: 110;

  @include g.hover() {
    background-color: rgba(g.colors(base-white), .4);
  }
}
.top-kv__slideBtn.--prev {
  left: 25%;
  @include g.mq(sm) {
    left: 0;
  }
}
.top-kv__slideBtn.--next {
  right: 25%;
  @include g.mq(sm) {
    right: 50%;
  }
}

.top-kv__slideBtn::before,
.top-kv__slideBtn::after {
  position: absolute;
  content: '';
  width: g.pxClamp(18px, 24px);
  height: g.pxClamp(1px, 2px);
  background-color: g.colors(base-white);
}
.top-kv__slideBtn.--prev::before {
  left: 23%;
  bottom: g.pxClamp(16px, 19px);
  transform: rotate(30deg);
}
.top-kv__slideBtn.--prev::after {
  left: 23%;
  top: g.pxClamp(14px, 17px);
  transform: rotate(-30deg);
}
.top-kv__slideBtn.--next::before {
  right: 23%;
  bottom: g.pxClamp(16px, 19px);
  transform: rotate(-30deg);
}
.top-kv__slideBtn.--next::after {
  right: 23%;
  top: g.pxClamp(14px, 17px);
  transform: rotate(30deg);
}

.top-kv__movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/top/kv_frame.jpg) no-repeat center/cover;
  overflow: hidden;
  z-index: -1;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(g.colors(base-black), .4);
    z-index: 100;
  }
}

.top-kv__movie video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
