@use "../../global/" as g;

.top-news {
  position: relative;
  width: g.pxClamp(320px, 1160px);
  margin-inline: auto;
}
.top-news__link {
  position: absolute;
  bottom: g.rem(-50px);
  right: 0;
  overflow: hidden;
  @include g.mq(md) {
    top: g.rem(-50px);
    bottom: auto;
  }
}
.top-news__link a {
  position: relative;
  display: inline-block;
  padding: .875em 2em .875em 0;
  color: g.colors(base-black);
  font-size: g.remClamp(14px, 16px);
  letter-spacing: 2px;
  transition: opacity .25s;

  &::after {
    position: absolute;
    content: '';
    bottom: .75em;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: g.colors(base-black);
    transform-origin: left;
    transition: transform .25s;
  }

  span {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: 55%;
      right: -2em;
      width: .8em;
      height: .8em;
      background-image: url(../img/common/btn_arrow_black.png);
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }
  @include g.hover() {
    opacity: .6;
    &::after {
      animation: underlineSlide .5s;
    }
  }
}
@keyframes underlineSlide {
  0% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(100%) scaleX(0);
  }
  51% {
    transform: translateX(0) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

.top-news__unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: g.remClamp(30px, 40px);
  padding-bottom: 20px;
  border-bottom: 1px solid g.colors(base-black);

  @include g.mq(md) {
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: g.remClamp(20px, 30px);
    padding-bottom: 0px;
    border-bottom: none;
  }
}

.top-news__date {
  flex-shrink: 0;
  color: g.colors(base-black);
  font-size: g.remClamp(16px, 18px);
  letter-spacing: 2px;

  @include g.mq(md) {
    margin-right: 20px;
  }
}
.top-news__tag {
  flex-shrink: 0;
  flex-basis: g.pxClamp(140px, 180px, $maxViewport: 768px);
  display: inline-block;
  padding: 0 16px;
  background-color: g.colors(base-white);
  border: 1px solid g.colors(main);
  color: g.colors(main);
  font-size: g.rem(16px);
  letter-spacing: 1px;
  text-align: center;
  @include g.mq(md) {
    flex-basis: g.pxClamp(140px, 180px, $minViewport: 768px);
  }
}
.top-news__text {
  width: 100%;
  margin-top: g.remClamp(10px, 20px);
  color: g.colors(base-black);
  font-size: g.remClamp(16px, 18px);
  letter-spacing: 1px;
  @include g.mq(md) {
    width: auto;
    margin-top: 0;
    margin-left: g.pxClamp(20px, 50px, $minViewport: 768px);
  }
}
.top-news__text a {
  position: relative;
  color: g.colors(main);
  transition: opacity .25s;

  &::after {
    position: absolute;
    content: '';
    bottom: -.1em;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: g.colors(main);
    opacity: 0;
    transition: opacity .25s;
  }

  @include g.hover() {
    opacity: .8;
    &::after {
      opacity: .8;
    }
  }
}
