@use "../../global/" as g;

.trade-intro {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: g.pxClamp(30px, 50px);

  @include g.mq(md) {
    flex-direction: row;
  }
}

.trade-intro__head {
  flex-shrink: 0;
  width: 100%;

  @include g.mq(md) {
    width: g.pxClamp(340px, 540px, $minViewport: 768px);
    margin-right: g.pxClamp(20px, 60px, $minViewport: 768px);
  }
}

.trade-intro__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  @include g.mq(md) {
    align-items: flex-start;
    margin-bottom: 0;
  }
  & > *:last-child {
    margin-top: auto;
  }
}

.trade-intro__text {
  font-size: g.remClamp(16px, 18px);
  margin-bottom: .5em;
}

.trade-intro__note {
  font-size: g.remClamp(12px, 14px);
  margin-bottom: g.pxClamp(20px, 30px);
}
