@use "../global/" as g;

.p-content__head {
  text-align: center;
  margin-bottom: g.pxClamp(30px, 50px);
}

.p-content__title {
  margin-top: 10px;
  color: g.colors(base-black);
  font-size: g.rem(24px);
  letter-spacing: 8px;
}
.p-content__title.--rev {
  color: g.colors(base-white);
}
