@use "../global/" as g;

.p-mobileMenu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: g.colors(base-black);
  transform: translateX(100%);
  transform-origin: top;
  transition: transform .5s;

  @include g.mq(xl) {
    display: none;
  }

  &.is-active {
    transform: translateX(0);
  }

}

.p-mobileMenu__nav {
  margin-top: 80px;
}

.p-mobileMenu__list {
  display: flex;
  flex-direction: column;
}

.p-mobileMenu__item {
  position: relative;
  width: 60%;
  margin-inline: auto;
  text-align: center;
}

.p-mobileMenu__item > a,
.p-mobileMenu__item > button {
  position: relative;
  display: inline-block;
  padding: .5em 2em;
  color: g.colors(base-white);
  font-size: clamp(1.25rem, 0.809rem + 1.96vw, 1.75rem);

&::after {
    position: absolute;
    content: "";
    bottom: .2em;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: g.colors(base-white);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform .25s;
  }
  @include g.hover() {
    &::after {
      transform: translateX(-50%) scaleX(1);
    }
  }
}

.p-mobileMenu__navChild {
  display: none;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity .25s;

  &.is-active {
    display: flex;
    opacity: 1;
  }
}

.p-mobileMenu__navChildItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-mobileMenu__navChildItem > a {
  padding: .5em 2em;
  color: g.colors(base-white);
  font-size: clamp(1rem, 0.559rem + 1.96vw, 1.5rem);
}

.p-mobileMenu__cta {
  margin: 1em 0;
  text-align: center;
}

.p-mobileMenu__credit {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid g.colors(base-white);
}
