@use "../global/" as g;

.p-wideTexts {
  width: 100%;
  margin-inline: auto;
  padding-bottom: g.pxClamp(60px, 80px);
  color: g.colors(base-black);

  &:last-child {
    padding-bottom: 0;
  }
}

.p-wideTexts__title {
  margin-bottom: g.remClamp(10px, 20px);
  padding:0 g.pxClamp(0px, 60px) g.pxClamp(20px, 24px);
  border-bottom: 1px solid g.colors(base-black);
  font-size: g.remClamp(20px, 24px);
  font-weight: 700;

  & > span {
    display: inline-block;
  }
}

.p-wideTexts__text {
  font-size: g.rem(18px);
  padding:0 g.pxClamp(10px, 60px);
  line-height: 1.875;
}
.p-wideTexts__list {
  font-size: g.rem(18px);
  padding:0 g.pxClamp(10px, 60px);
  line-height: 1.875;
  list-style: none;
}
.p-wideTexts__list li {
  padding-left: 1em;
  text-indent: -1em;
}
.p-wideTexts__alert {
  color: g.colors(main);
  font-size: g.rem(16px);
  padding:0 g.pxClamp(10px, 60px);
}
.p-wideTexts__mb {
  margin-bottom: g.pxClamp(20px, 30px);
}
