@use "../../global/" as g;

.o-btn {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  background-color: g.colors(base-white);
  border: 1px solid transparent;
  border-radius: 2em;
  padding: .5em .8em;
  color: g.colors(base-black);
  font-size: g.rem(18px);
  letter-spacing: 2px;
  text-align: center;
  transition: background-color .25s, color .25s;

  & > span {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: 55%;
      right: -1.5em;
      width: .8em;
      height: .8em;
      background-image: url(../img/common/btn_arrow_black.png);
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  @include g.hover() {
    background-color: g.colors(main);
    color: g.colors(base-white);
    & > span::after {
      background-image: url(../img/common/btn_arrow_white.png);
    }
  }
}

.o-btn.o-btn--rev {
  @include g.hover() {
    background-color: g.colors(base-black);
    color: g.colors(base-white);
    & > span::after {
      background-image: url(../img/common/btn_arrow_white.png);
    }
  }
}

.o-btn.o-btn--black {
  background-color: g.colors(base-black);
  color: g.colors(base-white);
  & > span::after {
    background-image: url(../img/common/btn_arrow_white.png);
  }
  @include g.hover() {
    background-color: g.colors(main);
  }
}

.o-btn.o-btn--accent {
  background-color: g.colors(main);
  border-color: g.colors(main);
  color: g.colors(base-white);
  & > span::after {
    background-image: url(../img/common/btn_arrow_white.png);
  }
  @include g.hover() {
    background-color: g.colors(base-white);
    color: g.colors(base-black);
    & > span::after {
      background-image: url(../img/common/btn_arrow_black.png);
    }
  }
}
.o-btn.o-btn--accentRev {
  background-color: g.colors(main);
  border-color: g.colors(main);
  color: g.colors(base-white);
  & > span::after {
    background-image: url(../img/common/btn_arrow_white.png);
  }
  @include g.hover() {
    background-color: g.colors(base-black);
  }
}

.o-btn.o-btn--kv {
  background-color: rgba(g.colors(base-white), .2);
  border-color: g.colors(base-white);
  color: g.colors(base-white);
  transition: background-color .25s, color .25s;
  & span::after {
    background-image: url(../img/common/btn_arrow_white.png);
  }

  @include g.hover() {
    background-color: g.colors(base-white);
    color: g.colors(base-black);
    & span::after {
      background-image: url(../img/common/btn_arrow_black.png);
    }
  }
}
