@use "../../global/" as g;

.o-floatBtn {
  position: fixed;
  bottom: -80px;
  right: 5%;
  width: g.pxClamp(48px, 60px);
  height: g.pxClamp(48px, 60px);
  background-color: g.colors(main);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: bottom .25s, opacity .25s, visibility .25s;
  z-index: 999;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 48%;
    width: g.pxClamp(18px, 24px);
    height: 2px;
    background-color: g.colors(base-white);
  }
  &::before {
    left: g.pxClamp(11px, 12px);
    transform: rotate(-60deg);
  }
  &::after {
    right: g.pxClamp(11px, 12px);
    transform: rotate(60deg);
  }
}

.o-floatBtn.is-shown {
  bottom: g.pxClamp(20px, 60px);
  opacity: 1;
  visibility: visible;
}
