@use "../../global/" as g;

.o-floatBtn {
  position: fixed;
  bottom: -80px;
  right: 5%;
  width: 60px;
  height: 60px;
  background-color: g.colors(main);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: bottom .25s, opacity .25s, visibility .25s;
  z-index: 999;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 48%;
    width: 24px;
    height: 2px;
    background-color: g.colors(base-white);
  }
  &::before {
    left: 12px;
    transform: rotate(-60deg);
  }
  &::after {
    right: 12px;
    transform: rotate(60deg);
  }
}

.o-floatBtn.is-shown {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
}
