/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
}

body {
  line-height: 1.5;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* _base.scss */
* {
  box-sizing: border-box;
}

body {
  font-family: "Shippori Mincho", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  color: #222;
  line-height: 1.5;
}

img, svg {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a, button {
  font-size: 1rem;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  cursor: pointer;
}

summary {
  display: block;
}

summary::-webkit-detais-marker {
  display: none;
}

.l-siteWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
}

.l-main {
  flex: 1;
  overflow: hidden;
}

.l-section {
  width: 100%;
  padding: clamp(50px, 46.667px + 0.93vw, 60px) 0 clamp(80px, 73.333px + 1.85vw, 100px);
}

.l-section__inner {
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;
  padding: 0 clamp(20px, 2.353px + 4.9vw, 40px);
}
@media screen and (min-width: 768px) {
  .l-section__inner {
    padding: 0 clamp(20px, -2.857px + 2.98vw, 40px);
  }
}

.o-copyright {
  color: #fcfcfc;
  text-align: center;
}

.o-btn {
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
  background-color: #fcfcfc;
  border: 1px solid transparent;
  border-radius: 2em;
  padding: 0.5em 0.8em;
  color: #222;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-align: center;
  transition: background-color 0.25s, color 0.25s;
}
.o-btn > span {
  position: relative;
}
.o-btn > span::after {
  position: absolute;
  content: "";
  top: 55%;
  right: -1.5em;
  width: 0.8em;
  height: 0.8em;
  background-image: url(../img/btn_arrow_black.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}
.o-btn:focus {
  background-color: #c24524;
  color: #fcfcfc;
}
.o-btn:focus > span::after {
  background-image: url(../img/btn_arrow_white.png);
}
@media (hover: hover) and (pointer: fine) {
  .o-btn:hover {
    background-color: #c24524;
    color: #fcfcfc;
  }
  .o-btn:hover > span::after {
    background-image: url(../img/btn_arrow_white.png);
  }
}

.o-btn.o-btn--rev:focus {
  background-color: #222;
  color: #fcfcfc;
}
.o-btn.o-btn--rev:focus > span::after {
  background-image: url(../img/btn_arrow_white.png);
}
@media (hover: hover) and (pointer: fine) {
  .o-btn.o-btn--rev:hover {
    background-color: #222;
    color: #fcfcfc;
  }
  .o-btn.o-btn--rev:hover > span::after {
    background-image: url(../img/btn_arrow_white.png);
  }
}

.o-btn.o-btn--black {
  background-color: #222;
  color: #fcfcfc;
}
.o-btn.o-btn--black > span::after {
  background-image: url(../img/btn_arrow_white.png);
}
.o-btn.o-btn--black:focus {
  background-color: #c24524;
}
@media (hover: hover) and (pointer: fine) {
  .o-btn.o-btn--black:hover {
    background-color: #c24524;
  }
}

.o-btn.o-btn--accent {
  background-color: #c24524;
  border-color: #c24524;
  color: #fcfcfc;
}
.o-btn.o-btn--accent > span::after {
  background-image: url(../img/btn_arrow_white.png);
}
.o-btn.o-btn--accent:focus {
  background-color: #fcfcfc;
  color: #222;
}
.o-btn.o-btn--accent:focus > span::after {
  background-image: url(../img/btn_arrow_black.png);
}
@media (hover: hover) and (pointer: fine) {
  .o-btn.o-btn--accent:hover {
    background-color: #fcfcfc;
    color: #222;
  }
  .o-btn.o-btn--accent:hover > span::after {
    background-image: url(../img/btn_arrow_black.png);
  }
}

.o-btn.o-btn--kv {
  background-color: rgba(252, 252, 252, 0.2);
  border-color: #fcfcfc;
  color: #fcfcfc;
  transition: background-color 0.25s, color 0.25s;
}
.o-btn.o-btn--kv span::after {
  background-image: url(../img/btn_arrow_white.png);
}
.o-btn.o-btn--kv:focus {
  background-color: #fcfcfc;
  color: #222;
}
.o-btn.o-btn--kv:focus span::after {
  background-image: url(../img/btn_arrow_black.png);
}
@media (hover: hover) and (pointer: fine) {
  .o-btn.o-btn--kv:hover {
    background-color: #fcfcfc;
    color: #222;
  }
  .o-btn.o-btn--kv:hover span::after {
    background-image: url(../img/btn_arrow_black.png);
  }
}

.o-floatBtn {
  position: fixed;
  bottom: -80px;
  right: 5%;
  width: 60px;
  height: 60px;
  background-color: #c24524;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: bottom 0.25s, opacity 0.25s, visibility 0.25s;
  z-index: 999;
}
.o-floatBtn::before, .o-floatBtn::after {
  position: absolute;
  content: "";
  top: 48%;
  width: 24px;
  height: 2px;
  background-color: #fcfcfc;
}
.o-floatBtn::before {
  left: 12px;
  transform: rotate(-60deg);
}
.o-floatBtn::after {
  right: 12px;
  transform: rotate(60deg);
}

.o-floatBtn.is-shown {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
}

.o-logoIio .fill {
  fill: #fcfcfc;
}

.p-content__head {
  text-align: center;
  margin-bottom: calc(30px + (50 - 30) * ((100vw - 360px) / (1440 - 360)));
}
@media screen and (min-width: 1440px) {
  .p-content__head {
    margin-bottom: 50px;
  }
}

.p-content__title {
  margin-top: 10px;
  color: #222;
  font-size: 1.5rem;
  letter-spacing: 8px;
}

.p-content__title._rev {
  color: #fcfcfc;
}

.header {
  position: fixed;
  height: clamp(60px, 40px + 5.56vw, 120px);
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fcfcfc;
  box-shadow: 0 0 6px rgba(34, 34, 34, 0.6);
  z-index: 1100;
  opacity: 1;
  transition: background-color 0.25s, opacity 0.25s, visibility 0.25s, top 0.25s;
}
.header .header__inner {
  margin-inline: auto;
  width: 100%;
  padding: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
}
.header .header__logo {
  align-self: center;
  width: clamp(150px, 106.667px + 12.04vw, 280px);
  transition: opacity 0.25s;
}
.header .header__logo:focus {
  opacity: 0.6;
}
@media (hover: hover) and (pointer: fine) {
  .header .header__logo:hover {
    opacity: 0.6;
  }
}
.header .header__logo a {
  position: relative;
  display: block;
}
.header .header__logo a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/logo_white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  opacity: 0;
  transition: opacity 0.25s;
}
.header .header__nav {
  display: flex;
  justify-content: space-between;
}
.header .header__navBtn {
  position: absolute;
  top: 10px;
  right: 25px;
}
@media screen and (min-width: 1280px) {
  .header .header__navBtn {
    right: 30px;
  }
}
.header .header__navBtn a {
  position: relative;
  display: block;
  padding: 4px 32px 4px 8px;
  border: 1px solid #222;
  color: #222;
  font-size: 12px;
  text-transform: uppercase;
  transition: background-color 0.25s, color 0.25s, opacity 0.25s;
}
.header .header__navBtn a::after {
  position: absolute;
  content: "";
  top: 30%;
  right: 1em;
  width: 1em;
  height: 1em;
  background-image: url(../img/btn_arrow_black.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.header .header__navBtn a:focus {
  background-color: #222;
  color: #fcfcfc;
}
.header .header__navBtn a:focus::after {
  background-image: url(../img/btn_arrow_white.png);
}
@media (hover: hover) and (pointer: fine) {
  .header .header__navBtn a:hover {
    background-color: #222;
    color: #fcfcfc;
  }
  .header .header__navBtn a:hover::after {
    background-image: url(../img/btn_arrow_white.png);
  }
}
.header .header__navMenu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header .header__navMenu {
    position: relative;
    display: block;
  }
}
.header .header__navList {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: clamp(60px, 40px + 5.56vw, 120px);
}
.header .header__navItem {
  height: 60%;
  margin-right: clamp(25px, 12.692px + 1.2vw, 30px);
}
.header .header__navItem > a {
  display: flex;
  height: 100%;
  color: #222;
  font-size: clamp(0.875rem, 0.26rem + 0.96vw, 1.125rem);
  transition: color 0.25s, opacity 0.25s;
}
.header .header__navItem > a > span {
  position: relative;
  display: inline-block;
  height: fit-content;
  margin-top: 15px;
}
.header .header__navItem > a > span::after {
  position: absolute;
  content: "";
  bottom: -0.5em;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #222;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.25s, background-color 0.25s;
}
.header .header__navItem:focus-within > a {
  opacity: 0.8;
}
.header .header__navItem:focus-within > a span::after {
  transform: translateX(-50%) scaleX(1);
}
@media (hover: hover) and (pointer: fine) {
  .header .header__navItem:hover > a {
    opacity: 0.8;
  }
  .header .header__navItem:hover > a span::after {
    transform: translateX(-50%) scaleX(1);
  }
}
.header .header__navChild {
  position: fixed;
  top: auto;
  left: 0;
  width: 100vw;
  background-image: url(../img/bg_main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;
  z-index: -1;
}
.header .header__navItem:focus-within > .header__navChild {
  opacity: 1;
  visibility: visible;
}
@media (hover: hover) and (pointer: fine) {
  .header .header__navItem:hover > .header__navChild {
    opacity: 1;
    visibility: visible;
  }
}
.header .header__navChildInner {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1360px;
  margin: 30px auto;
}
.header .header__navChildTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(160px, 110.769px + 4.81vw, 180px);
  max-width: 180px;
  margin-right: clamp(20px, -29.231px + 4.81vw, 40px);
  padding: 10px 0;
  text-align: center;
}
.header .header__navChildTitle img {
  display: inline-block;
  width: clamp(40px, 25.231px + 1.44vw, 46px);
}
.header .header__navChildTitle span {
  display: inline-block;
  color: #222;
  font-size: clamp(0.875rem, 0.567rem + 0.48vw, 1rem);
}
.header .header__navChildList {
  display: flex;
}
.header .header__navChildList li {
  position: relative;
  width: clamp(160px, 61.538px + 9.62vw, 200px);
  height: clamp(80px, 30.769px + 4.81vw, 100px);
  margin-right: clamp(20px, -4.615px + 2.4vw, 30px);
  overflow: hidden;
  z-index: 100;
}
.header .header__navChildList li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 2;
  transition: opacity 0.25s;
}
.header .header__navChildList li::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.25s;
  z-index: 1;
}
.header .header__navChildList li:nth-child(1)::after {
  background-image: url(../img/thumb_column.jpg);
}
.header .header__navChildList li:nth-child(2)::after {
  background-image: url(../img/thumb_intro.jpg);
}
.header .header__navChildList li:nth-child(3)::after {
  background-image: url(../img/thumb_advice.jpg);
}
.header .header__navChildList li:nth-child(4)::after {
  background-image: url(../img/thumb_lifecolumn.jpg);
}
.header .header__navChildList li a {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fcfcfc;
  outline-offset: -3px;
  z-index: 101;
}
.header .header__navChildList li a span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fcfcfc;
  font-size: clamp(12px, 2.154px + 0.96vw, 16px);
}
.header .header__navChildList li:focus-within::before {
  opacity: 0.5;
}
.header .header__navChildList li:focus-within::after {
  transform: scale(1.1);
}
@media (hover: hover) and (pointer: fine) {
  .header .header__navChildList li:hover::before {
    opacity: 0.5;
  }
  .header .header__navChildList li:hover::after {
    transform: scale(1.1);
  }
}
.header .header__navBtns {
  height: clamp(60px, 40px + 5.56vw, 120px);
  display: flex;
}
.header .header__navContact {
  position: relative;
  display: inline-block;
  width: clamp(100px, 73.333px + 7.41vw, 180px);
  height: 100%;
  background-color: #c24524;
  color: #fcfcfc;
  font-size: clamp(10px, 7.831px + 0.6vw, 14px);
  text-align: center;
  transition: opacity 0.25s;
}
@media screen and (min-width: 1024px) {
  .header .header__navContact {
    font-size: clamp(14px, 4.154px + 0.96vw, 18px);
  }
}
.header .header__navContact::before {
  position: absolute;
  content: "";
  top: 20%;
  left: 50%;
  width: clamp(23px, 16.667px + 1.76vw, 42px);
  height: clamp(20px, 14.667px + 1.48vw, 36px);
  background-image: url(../img/contact_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateX(-50%);
}
.header .header__navContact:focus {
  opacity: 0.6;
}
@media (hover: hover) and (pointer: fine) {
  .header .header__navContact:hover {
    opacity: 0.6;
  }
}
.header .header__navContact > span {
  position: absolute;
  display: inline-block;
  bottom: 1em;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}
.header .header__navMenuBtn {
  position: relative;
  display: inline-block;
  width: clamp(60px, 46.667px + 3.7vw, 100px);
  height: 100%;
  padding: 0 clamp(10px, 7.289px + 0.75vw, 15px);
  font-size: clamp(10px, 7.831px + 0.6vw, 14px);
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .header .header__navMenuBtn {
    display: none;
  }
}
.header .header__navMenuBtn > span:not(:last-child) {
  position: absolute;
  left: 50%;
  width: 1.8em;
  height: 1px;
  background-color: #222;
  transform: translateX(-50%);
  transition: transform 0.25s, opacity 0.25s;
}
.header .header__navMenuBtn > span:nth-child(1) {
  top: 1.6em;
}
.header .header__navMenuBtn > span:nth-child(2) {
  top: 2.2em;
}
.header .header__navMenuBtn > span:nth-child(3) {
  top: 2.8em;
}
.header .header__navMenuBtn.is-active > span:nth-child(1) {
  transform: translateX(-50%) translateY(0.6em) rotate(-45deg);
}
.header .header__navMenuBtn.is-active > span:nth-child(2) {
  opacity: 0;
}
.header .header__navMenuBtn.is-active > span:nth-child(3) {
  transform: translateX(-50%) translateY(-0.6em) rotate(45deg);
}
.header .header__navMenuBtn > span:last-child {
  position: absolute;
  display: inline-block;
  bottom: 1em;
  left: 50%;
  width: 80%;
  color: #222;
  overflow: hidden;
  transform: translateX(-50%);
}
.header .header__navMenuBtn > span:last-child.fade-out {
  animation: fade-out 0.25s ease-in;
}
.header .header__navMenuBtn > span:last-child.fade-in {
  animation: fade-in 0.25s ease-in-out;
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(-50%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}
.header.is-active {
  background-color: rgba(34, 34, 34, 0.9);
}
.header.is-active .header__logo a::after {
  opacity: 1;
}
.header.is-active .header__navBtn a {
  background-color: transparent;
  border-color: #fcfcfc;
  color: #fcfcfc;
}
.header.is-active .header__navBtn a::after {
  background-image: url(../img/btn_arrow_white.png);
}
.header.is-active .header__navBtn a:focus {
  opacity: 0.6;
}
@media (hover: hover) and (pointer: fine) {
  .header.is-active .header__navBtn a:hover {
    opacity: 0.6;
  }
}
.header.is-active .header__navItem > a,
.header.is-active .header__navItem > button {
  color: #fcfcfc;
}
.header.is-active .header__navItem > a span::after,
.header.is-active .header__navItem > button span::after {
  background-color: #fcfcfc;
}
.header.is-active .header__navMenuBtn > span:not(:last-child) {
  background-color: #fcfcfc;
}
.header.is-active .header__navMenuBtn > span:last-child {
  color: #fcfcfc;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #222;
  color: #fcfcfc;
}
.footer::before {
  position: absolute;
  content: "";
  top: calc(-29px + (-50 - -29) * ((100vw - 360px) / (1440 - 360)));
  right: 0;
  width: 100%;
  max-width: 658px;
  height: clamp(30px, 23.333px + 1.85vw, 50px);
  background-image: url(../img/footer_illust.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .footer::before {
    right: 5%;
  }
}

.footer__inner {
  width: 100%;
  max-width: 1160px;
  margin-inline: auto;
  padding: 70px 20px 10px;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    padding: 70px 20px 20px;
  }
}

.footer__primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__primary {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer__info {
  padding-bottom: 50px;
  border-bottom: 1px solid #fcfcfc;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__info {
    width: 50%;
    padding-bottom: 0;
    margin-bottom: 50px;
    border-bottom: none;
    border-right: 1px solid #fcfcfc;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .footer__info {
    width: 50%;
  }
}

.footer__logo {
  display: inline-block;
  width: clamp(250px, 226.667px + 6.48vw, 320px);
}

.footer__address {
  margin-top: clamp(30px, 23.333px + 1.85vw, 50px);
  font-size: 0.875rem;
}
.footer__address > span {
  display: block;
  line-height: 2;
}
.footer__address > span > a {
  color: #fcfcfc;
  font-size: 0.875rem;
}

.footer__cta {
  margin-top: clamp(30px, 23.333px + 1.85vw, 50px);
  font-size: 1.125rem;
  line-height: 1.8;
}
.footer__cta span {
  display: inline-block;
}

.footer__btn {
  margin-top: clamp(30px, 23.333px + 1.85vw, 50px);
}

.footer__links {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .footer__links {
    width: 45%;
    margin-left: clamp(30px, -4.286px + 4.46vw, 60px);
  }
}

.footer__navMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .footer__navMenu {
    margin-top: 0;
  }
}

.footer__navItem {
  width: 46%;
  margin-right: 8%;
  margin-bottom: 40px;
  line-height: 1;
}
.footer__navItem:nth-child(2n) {
  margin-right: 0;
}

.footer__navItem > a,
.footer__navItem > span {
  position: relative;
  display: inline-block;
  padding-bottom: 0.2em;
  color: #fcfcfc;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: opacity 0.25s;
}

.footer__navItem > a::after {
  position: absolute;
  content: "";
  bottom: -0.2em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fcfcfc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.footer__navItem > a:focus {
  opacity: 0.8;
}
.footer__navItem > a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (hover: hover) and (pointer: fine) {
  .footer__navItem > a:hover {
    opacity: 0.8;
  }
  .footer__navItem > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.footer__navChild {
  margin-top: 10px;
}

.footer__navChild li {
  line-height: 1.5;
}

.footer__navChild li a {
  position: relative;
  display: inline-block;
  padding-bottom: 0.2em;
  padding-left: 1em;
  color: #fcfcfc;
  font-size: 0.75rem;
  transition: transform 0.25s;
}
.footer__navChild li a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.4em;
  width: 3px;
  height: 3px;
  background-color: #fcfcfc;
  border-radius: 3px;
}
.footer__navChild li a::after {
  position: absolute;
  content: "";
  bottom: 0.1em;
  left: 1em;
  width: calc(100% - 1em);
  height: 1px;
  background-color: #fcfcfc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.footer__navChild li a:focus {
  opacity: 0.8;
}
.footer__navChild li a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (hover: hover) and (pointer: fine) {
  .footer__navChild li a:hover {
    opacity: 0.8;
  }
  .footer__navChild li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.footer__sns {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__sns {
    justify-content: flex-start;
  }
}

.footer__sns a {
  display: inline-block;
  transition: transform 0.25s;
}
@media screen and (min-width: 768px) {
  .footer__sns a {
    margin-right: clamp(20px, 13.333px + 1.85vw, 40px);
  }
  .footer__sns a:last-child {
    margin-right: 0;
  }
}
.footer__sns a:focus {
  transform: scale(1.2);
}
@media (hover: hover) and (pointer: fine) {
  .footer__sns a:hover {
    transform: scale(1.2);
  }
}

.footer__secondary {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border-top: 1px solid #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer__secondary {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }
}

.footer__navSecondary ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: clamp(40px, 33.333px + 1.85vw, 60px);
}
@media screen and (min-width: 768px) {
  .footer__navSecondary ul {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.footer__navSecondary ul li {
  width: 46%;
  margin-right: 8%;
  margin-bottom: 20px;
}
.footer__navSecondary ul li:nth-child(2n) {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .footer__navSecondary ul li {
    width: auto;
    margin-right: clamp(30px, 16.667px + 3.7vw, 70px);
    margin-bottom: 0;
  }
  .footer__navSecondary ul li:nth-child(2n) {
    margin-right: clamp(30px, 16.667px + 3.7vw, 70px);
  }
}

.footer__navSecondary ul li a {
  position: relative;
  display: inline-block;
  color: #fcfcfc;
  font-size: 0.75rem;
  transition: opacity 0.25s;
}
.footer__navSecondary ul li a::after {
  position: absolute;
  content: "";
  bottom: -0.1em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fcfcfc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.footer__navSecondary ul li a:focus {
  opacity: 0.8;
}
.footer__navSecondary ul li a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (hover: hover) and (pointer: fine) {
  .footer__navSecondary ul li a:hover {
    opacity: 0.8;
  }
  .footer__navSecondary ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.footer__copyright {
  align-self: center;
  display: inline-block;
  color: #fcfcfc;
  font-size: 0.75rem;
}

body.is-active {
  height: 100%;
  overflow: hidden;
}

.mobileMenu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: scroll;
  padding: clamp(80px, 53.333px + 7.41vw, 160px) clamp(20px, 0px + 5.56vw, 80px) clamp(20px, 0px + 5.56vw, 80px);
  background-color: rgba(34, 34, 34, 0.98);
  transform: translateX(100%);
  transform-origin: top;
  transition: transform 0.4s;
}
@media screen and (min-width: 1280px) {
  .mobileMenu {
    display: none;
  }
}
.mobileMenu.is-active {
  transform: translateX(0);
}

.mobileMenu__inner {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .mobileMenu__inner {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #fcfcfc;
  }
}

.mobileMenu__navPrimary {
  padding-bottom: 30px;
  border-bottom: 1px solid #fcfcfc;
}
@media screen and (min-width: 768px) {
  .mobileMenu__navPrimary {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.mobileMenu__navItem {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}
.mobileMenu__navItem:last-child {
  margin-bottom: 15px;
}

.mobileMenu__navItem > a,
.mobileMenu__navItem > span {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  color: #fcfcfc;
  font-size: 1.125rem;
  letter-spacing: 4px;
}
.mobileMenu__navItem > a::after,
.mobileMenu__navItem > span::after {
  position: absolute;
  content: "";
  bottom: 0.4em;
  left: 1em;
  width: calc(100% - 2em);
  height: 1px;
  background-color: #fcfcfc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.mobileMenu__navItem > a:focus::after,
.mobileMenu__navItem > span:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (hover: hover) and (pointer: fine) {
  .mobileMenu__navItem > a:hover::after,
  .mobileMenu__navItem > span:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.mobileMenu__navChild {
  padding: 10px 20px;
}

.mobileMenu__navChild li {
  margin-bottom: 15px;
}
.mobileMenu__navChild li:last-child {
  margin-bottom: 0;
}

.mobileMenu__navChild li > a {
  position: relative;
  padding: 0.5em 1em;
  color: #fcfcfc;
  font-size: 0.875rem;
  letter-spacing: 2px;
}
.mobileMenu__navChild li > a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.25em;
  width: 3px;
  height: 3px;
  background-color: #fcfcfc;
  border-radius: 50%;
}
.mobileMenu__navChild li > a::after {
  position: absolute;
  content: "";
  bottom: 0.4em;
  left: 1em;
  width: calc(100% - 2em);
  height: 1px;
  background-color: #fcfcfc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.mobileMenu__navChild li > a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (hover: hover) and (pointer: fine) {
  .mobileMenu__navChild li > a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.mobileMenu__btn {
  margin-inline: auto;
  text-align: center;
}

.mobileMenu__info {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fcfcfc;
}
@media screen and (min-width: 768px) {
  .mobileMenu__info {
    width: 50%;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 30px;
    border-bottom: none;
    border-left: 1px solid #fcfcfc;
  }
}

.mobileMenu__logo {
  display: inline-block;
  width: clamp(200px, 173.333px + 7.41vw, 280px);
}

.mobileMenu__address {
  margin-top: 20px;
  color: #fcfcfc;
  font-size: 0.75rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .mobileMenu__address {
    margin-top: 30px;
  }
}
.mobileMenu__address span, .mobileMenu__address a {
  display: inline-block;
}
.mobileMenu__address a {
  color: #fcfcfc;
  font-size: 0.75rem;
}

.mobileMenu__cta {
  margin-top: 20px;
  color: #fcfcfc;
  font-size: 1rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .mobileMenu__cta {
    margin-top: 30px;
  }
}
.mobileMenu__cta span {
  display: inline-block;
}

.mobileMenu__navSecondary {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .mobileMenu__navSecondary {
    margin-top: 30px;
  }
}

.mobileMenu__navSecondary li {
  margin-bottom: 10px;
}
.mobileMenu__navSecondary li:last-child {
  margin-bottom: 0;
}

.mobileMenu__navSecondary li a {
  position: relative;
  padding: 0.5em 1em;
  color: #fcfcfc;
  font-size: 0.875rem;
  letter-spacing: 2px;
}
.mobileMenu__navSecondary li a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.25em;
  width: 3px;
  height: 3px;
  background-color: #fcfcfc;
  border-radius: 50%;
}
.mobileMenu__navSecondary li a::after {
  position: absolute;
  content: "";
  bottom: 0.4em;
  left: 1em;
  width: calc(100% - 2em);
  height: 1px;
  background-color: #fcfcfc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.mobileMenu__navSecondary li a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (hover: hover) and (pointer: fine) {
  .mobileMenu__navSecondary li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.mobileMenu__copyright {
  margin-top: 20px;
  color: #fcfcfc;
  font-size: 0.75rem;
  text-align: center;
}

.bg--colorWhite {
  background-color: #fcfcfc;
}

.bg--colorMain {
  background-color: #c24524;
}

.bg--main {
  background-image: url(../img/bg_main.png);
  background-size: cover;
  background-position: center;
}

.bg--photo01 {
  position: relative;
  background-image: url(../img/bg_photo01.png);
  background-size: cover;
  background-position: center;
}

.bg--photo02 {
  position: relative;
  background-image: url(../img/bg_photo02.png);
  background-size: cover;
  background-position: center;
}