.p-faq__inner {
  width: clamp(320px, 40px + 77.78vw, 1160px);
  margin-inline: auto;
}

.p-faq__item {
  padding: clamp(10px, 6.667px + 0.93vw, 20px);
  margin-top: clamp(20px, 16.667px + 0.93vw, 30px);
  background-color: #fcfcfc;
  color: #222;
  font-size: clamp(16px, 13.333px + 0.74vw, 24px);
}
.p-faq__item:last-child {
  margin-bottom: 60px;
}

.p-faq__item summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.p-faq__item div {
  overflow: hidden;
}

.p-faq__item p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: clamp(10px, 6.667px + 0.93vw, 20px);
  padding-top: clamp(10px, 6.667px + 0.93vw, 20px);
  border-top: 2px solid #f8f9fa;
}

.p-faq__q, .p-faq__a {
  flex-shrink: 0;
  display: block;
  width: clamp(30px, 26.667px + 0.93vw, 40px);
  height: clamp(30px, 26.667px + 0.93vw, 40px);
  margin-right: clamp(10px, 6.667px + 0.93vw, 20px);
  color: #fcfcfc;
  font-size: clamp(16px, 13.333px + 0.74vw, 24px);
  text-align: center;
}

.p-faq__q {
  background-color: #222;
}

.p-faq__a {
  background-color: #c24524;
}

.p-faq__text {
  flex-grow: 1;
}

.p-faq__icon {
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 24px;
  margin-left: clamp(10px, 6.667px + 0.93vw, 20px);
  transform-origin: center;
  transition: transform 0.4s;
}

.p-faq__item[open] .p-faq__icon {
  transform: rotate(180deg);
}

.p-faq__icon::before,
.p-faq__icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 1px;
  background-color: #222;
}

.p-faq__icon::before {
  left: -1px;
  transform: rotate(60deg);
}

.p-faq__icon::after {
  right: -1px;
  transform: rotate(-60deg);
}

.p-faq__link {
  margin: 60px 0;
  text-align: center;
}