.p-pageHeader {
  width: 100%;
  padding-top: clamp(60px, 40px + 5.56vw, 120px);
  background-image: url(../img/common/bg_main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.p-pageHeader__inner {
  display: flex;
  align-items: center;
  width: clamp(320px, 40px + 77.78vw, 1160px);
  height: clamp(60px, 50px + 2.78vw, 90px);
  padding: 0 clamp(20px, 2.353px + 4.9vw, 40px);
}
@media screen and (min-width: 768px) {
  .p-pageHeader__inner {
    padding: 0 clamp(20px, -2.857px + 2.98vw, 40px);
  }
}

.p-pageHeader__title {
  display: flex;
  align-items: center;
  color: #222;
  font-size: clamp(1.125rem, 1rem + 0.56vw, 1.5rem);
  letter-spacing: 2px;
}

.p-pageHeader__title span {
  display: inline-block;
}

.p-pageHeader__title span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, 26.667px + 3.7vw, 80px);
  margin-right: 0.5em;
}
.p-pageHeader__title span:first-child > img {
  height: clamp(20px, 15px + 1.39vw, 35px);
}