@charset "UTF-8";
.header {
  background-color: transparent;
}
.header .header__logo a::after {
  opacity: 1;
}
.header .header__navBtn a {
  background-color: transparent;
  border-color: #fcfcfc;
  color: #fcfcfc;
}
.header .header__navBtn a::after {
  background-image: url(../img/btn_arrow_white.png);
}
.header .header__navItem > a {
  color: #fcfcfc;
}
.header .header__navItem > a span::after {
  background-color: #fcfcfc;
}
.header .header__navMenuBtn > span:not(:last-child) {
  background-color: #fcfcfc;
}
.header .header__navMenuBtn > span:last-child {
  color: #fcfcfc;
}
@media screen and (min-width: 1024px) {
  .header:focus-within {
    background-color: #fcfcfc;
  }
  .header:focus-within .header__logo a::after {
    opacity: 0;
  }
  .header:focus-within .header__navBtn a {
    border-color: #222;
    color: #222;
  }
  .header:focus-within .header__navBtn a::after {
    background-image: url(../img/btn_arrow_black.png);
  }
  .header:focus-within .header__navBtn a:focus {
    background-color: #222;
    color: #fcfcfc;
  }
  .header:focus-within .header__navBtn a:focus::after {
    background-image: url(../img/btn_arrow_white.png);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) {
  .header:focus-within .header__navBtn a:hover {
    background-color: #222;
    color: #fcfcfc;
  }
  .header:focus-within .header__navBtn a:hover::after {
    background-image: url(../img/btn_arrow_white.png);
  }
}
@media screen and (min-width: 1024px) {
  .header:focus-within .header__navItem > a {
    color: #222;
  }
  .header:focus-within .header__navItem > a span::after {
    background-color: #222;
  }
}
@media screen and (min-width: 1024px) {
  .header:focus-within .header__navMenuBtn > span:not(:last-child) {
    background-color: #222;
  }
  .header:focus-within .header__navMenuBtn > span:last-child {
    color: #222;
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) {
  .header:hover {
    background-color: #fcfcfc;
  }
  .header:hover .header__logo a::after {
    opacity: 0;
  }
  .header:hover .header__navBtn a {
    border-color: #222;
    color: #222;
  }
  .header:hover .header__navBtn a::after {
    background-image: url(../img/btn_arrow_black.png);
  }
  .header:hover .header__navBtn a:focus {
    background-color: #222;
    color: #fcfcfc;
  }
  .header:hover .header__navBtn a:focus::after {
    background-image: url(../img/btn_arrow_white.png);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) and (hover: hover) and (pointer: fine) {
  .header:hover .header__navBtn a:hover {
    background-color: #222;
    color: #fcfcfc;
  }
  .header:hover .header__navBtn a:hover::after {
    background-image: url(../img/btn_arrow_white.png);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) {
  .header:hover .header__navItem > a {
    color: #222;
  }
  .header:hover .header__navItem > a span::after {
    background-color: #222;
  }
}
@media screen and (min-width: 1024px) and (hover: hover) and (pointer: fine) {
  .header:hover .header__navMenuBtn > span:not(:last-child) {
    background-color: #222;
  }
  .header:hover .header__navMenuBtn > span:last-child {
    color: #222;
  }
}

.header.is-hidden {
  top: -10%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header.is-shown {
  background-color: #fcfcfc;
}
.header.is-shown .header__logo a::after {
  opacity: 0;
}
.header.is-shown .header__navBtn a {
  border-color: #222;
  color: #222;
}
.header.is-shown .header__navBtn a::after {
  background-image: url(../img/btn_arrow_black.png);
}
.header.is-shown .header__navItem > a {
  color: #222;
}
.header.is-shown .header__navItem > a span::after {
  background-color: #222;
}
.header.is-shown .header__navMenuBtn > span:not(:last-child) {
  background-color: #222;
}
.header.is-shown .header__navMenuBtn > span:last-child {
  color: #222;
}

.header.is-shown.is-active {
  background-color: rgba(34, 34, 34, 0.9);
}
.header.is-shown.is-active .header__logo a::after {
  opacity: 1;
}
.header.is-shown.is-active .header__navBtn a {
  background-color: transparent;
  border-color: #fcfcfc;
  color: #fcfcfc;
}
.header.is-shown.is-active .header__navBtn a::after {
  background-image: url(../img/btn_arrow_white.png);
}
.header.is-shown.is-active .header__navItem > a {
  color: #fcfcfc;
}
.header.is-shown.is-active .header__navItem > a::after {
  background-color: #fcfcfc;
}
.header.is-shown.is-active .header__navMenuBtn > span:not(:last-child) {
  background-color: #fcfcfc;
}
.header.is-shown.is-active .header__navMenuBtn > span:last-child {
  color: #fcfcfc;
}

.top-kv {
  position: relative;
  height: clamp(550px, 506.667px + 12.04vw, 680px);
  overflow: hidden;
}

.top-kv__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.01));
  z-index: 101;
}

.top-kv__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1360px;
  margin-inline: auto;
  padding: clamp(80px, 53.333px + 7.41vw, 160px) clamp(20px, 13.333px + 1.85vw, 40px) clamp(20px, 6.667px + 3.7vw, 60px);
}
@media screen and (min-width: 768px) {
  .top-kv__main {
    justify-content: flex-start;
  }
}

.top-kv__slide {
  width: clamp(320px, 40px + 77.78vw, 1160px);
  max-width: 1160px;
  margin-inline: auto;
}

.top-kv__slideContents {
  z-index: 110;
}
@media screen and (min-width: 768px) {
  .top-kv__slideContents {
    width: fit-content;
  }
}

.top-kv__title {
  margin-bottom: clamp(28px, 26.667px + 0.37vw, 32px);
  color: #fcfcfc;
  font-size: clamp(2rem, 1.667rem + 1.48vw, 3rem);
}

.top-kv__copy {
  margin-bottom: clamp(24px, 22px + 0.56vw, 30px);
  color: #fcfcfc;
  font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);
  line-height: 1.75;
}

.top-kv__btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-kv__btn {
    text-align: left;
  }
}

.top-kv__slideBtns {
  margin-top: clamp(20px, 18.333px + 0.46vw, 25px);
  text-align: center;
  z-index: 110;
}
@media screen and (min-width: 768px) {
  .top-kv__slideBtns {
    text-align: left;
  }
}

.top-kv__slideBtns button {
  position: relative;
  width: clamp(40px, 36.667px + 0.93vw, 50px);
  height: clamp(40px, 36.667px + 0.93vw, 50px);
  background-color: transparent;
  border-radius: clamp(40px, 36.667px + 0.93vw, 50px);
  transition: background-color 0.25s;
}
.top-kv__slideBtns button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: clamp(20px, 18.333px + 0.46vw, 25px);
  height: clamp(20px, 18.333px + 0.46vw, 25px);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.top-kv__slideBtns button:focus {
  background-color: rgba(252, 252, 252, 0.4);
}
@media (hover: hover) and (pointer: fine) {
  .top-kv__slideBtns button:hover {
    background-color: rgba(252, 252, 252, 0.4);
  }
}

.top-kv__slideBtns button:first-child {
  margin-right: clamp(40px, 36.667px + 0.93vw, 50px);
}
.top-kv__slideBtns button:first-child::after {
  transform: translate(-60%, -50%);
  background-image: url(../img/slide_btn_l.png);
}

.top-kv__slideBtns button:last-child::after {
  transform: translate(-40%, -50%);
  background-image: url(../img/slide_btn_r.png);
}

.top-kv__movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/kv_frame.jpg) no-repeat center/cover;
  overflow: hidden;
  z-index: -1;
}
.top-kv__movie::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.4);
  z-index: 100;
}

.top-kv__movie video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.top-news {
  position: relative;
  width: clamp(320px, 40px + 77.78vw, 1160px);
  margin-inline: auto;
}

.top-news__link {
  position: absolute;
  bottom: -50px;
  right: 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-news__link {
    top: -50px;
    bottom: auto;
  }
}

.top-news__link a {
  position: relative;
  display: inline-block;
  padding: 0.875em 2em 0.875em 0;
  color: #222;
  font-size: clamp(12px, 10.667px + 0.37vw, 16px);
  letter-spacing: 2px;
  transition: opacity 0.25s;
}
.top-news__link a::after {
  position: absolute;
  content: "";
  bottom: 0.75em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #222;
  transform-origin: left;
  transition: transform 0.25s;
}
.top-news__link a span {
  position: relative;
}
.top-news__link a span::after {
  position: absolute;
  content: "";
  top: 55%;
  right: -2em;
  width: 0.8em;
  height: 0.8em;
  background-image: url(../img/btn_arrow_black.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}
.top-news__link a:focus {
  opacity: 0.6;
}
.top-news__link a:focus::after {
  animation: underlineSlide 0.5s;
}
@media (hover: hover) and (pointer: fine) {
  .top-news__link a:hover {
    opacity: 0.6;
  }
  .top-news__link a:hover::after {
    animation: underlineSlide 0.5s;
  }
}

@keyframes underlineSlide {
  0% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(100%) scaleX(0);
  }
  51% {
    transform: translateX(0) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}
.top-news__unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222;
}
@media screen and (min-width: 768px) {
  .top-news__unit {
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-bottom: none;
  }
}

.top-news__date {
  color: #222;
  font-size: clamp(1rem, 0.958rem + 0.19vw, 1.125rem);
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .top-news__date {
    margin-right: 20px;
  }
}

.top-news__tag {
  display: inline-block;
  width: 120px;
  min-width: 120px;
  max-width: 180px;
  padding: 0 16px;
  background-color: #fcfcfc;
  border: 1px solid #c24524;
  color: #c24524;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .top-news__tag {
    width: clamp(120px, -27.692px + 14.42vw, 180px);
  }
}

.top-news__text {
  width: 100%;
  margin-top: 10px;
  color: #222;
  font-size: clamp(1rem, 0.958rem + 0.19vw, 1.125rem);
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  .top-news__text {
    width: auto;
    margin-top: 0;
    margin-left: clamp(20px, -14.286px + 4.46vw, 50px);
  }
}

.top-news__text a {
  position: relative;
  color: #c24524;
  transition: opacity 0.25s;
}
.top-news__text a::after {
  position: absolute;
  content: "";
  bottom: -0.1em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c24524;
  opacity: 0;
  transition: opacity 0.25s;
}
.top-news__text a:focus {
  opacity: 0.8;
}
.top-news__text a:focus::after {
  opacity: 0.8;
}
@media (hover: hover) and (pointer: fine) {
  .top-news__text a:hover {
    opacity: 0.8;
  }
  .top-news__text a:hover::after {
    opacity: 0.8;
  }
}

.top-trade {
  color: #fcfcfc;
}

.top-trade__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .top-trade__inner {
    flex-direction: row;
  }
}

.top-trade__head {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #fcfcfc;
}
@media screen and (min-width: 768px) {
  .top-trade__head {
    justify-content: flex-start;
    width: auto;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #fcfcfc;
  }
}

.top-trade__catch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: clamp(16px, 4.667px + 3.15vw, 50px);
  width: clamp(80px, 46.667px + 9.26vw, 180px);
  height: clamp(80px, 46.667px + 9.26vw, 180px);
  border: clamp(1px, 0.667px + 0.09vw, 2px) solid #fcfcfc;
  border-radius: 50%;
  font-size: clamp(24px, 18.667px + 1.48vw, 40px);
  line-height: 1.2;
}

.top-trade__copy {
  font-size: clamp(28px, 18.667px + 2.59vw, 56px);
}
@media screen and (min-width: 768px) {
  .top-trade__copy {
    font-size: clamp(28px, -4px + 4.17vw, 56px);
  }
}
.top-trade__copy > span {
  display: block;
}

.top-trade__body {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .top-trade__body {
    padding-top: 0;
    margin-left: clamp(16px, -22.857px + 5.06vw, 50px);
  }
}

.top-trade__text {
  margin-bottom: 30px;
  font-size: clamp(16px, 15.333px + 0.19vw, 18px);
  line-height: 2;
}

.top-trade__area {
  padding: 20px;
  border: 1px solid #fcfcfc;
  border-radius: 10px;
}
.top-trade__area span {
  display: inline-block;
}

.top-trade__link {
  margin-top: 60px;
  text-align: center;
}

.top-merit__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .top-merit__inner {
    flex-direction: row;
    justify-content: center;
  }
}

.top-merit__topic {
  width: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #fcfcfc;
}
@media screen and (min-width: 768px) {
  .top-merit__topic {
    width: clamp(236px, 140px + 12.5vw, 320px);
    margin-left: clamp(15px, -2.143px + 2.23vw, 30px);
    padding: 15px 0;
    border-top: 0;
    border-right: 1px solid #fcfcfc;
  }
  .top-merit__topic:last-child {
    border-right: 0;
  }
}

.top-merit__imgWrapper {
  flex-basis: 110px;
  margin-right: clamp(20px, 2.353px + 4.9vw, 40px);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-merit__imgWrapper {
    flex-basis: clamp(70px, 24.286px + 5.95vw, 110px);
    margin-right: clamp(20px, -2.857px + 2.98vw, 40px);
  }
}

.top-merit__text {
  color: #fcfcfc;
}
.top-merit__text span {
  display: inline-block;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1;
}
.top-merit__text span.top-merit__item {
  display: block;
  font-size: 18px;
}
.top-merit__text span.top-merit__nums {
  font-size: 56px;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .top-merit__text span {
    font-size: clamp(20px, 10.857px + 1.19vw, 28px);
  }
  .top-merit__text span.top-merit__item {
    font-size: clamp(16px, 13.714px + 0.3vw, 18px);
  }
  .top-merit__text span.top-merit__nums {
    font-size: clamp(40px, 21.714px + 2.38vw, 56px);
  }
}

.top-merit__link {
  margin-top: 60px;
  text-align: center;
}

.p-property__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(20px, 13.333px + 1.85vw, 40px);
}
@media screen and (min-width: 768px) {
  .p-property__inner {
    justify-content: space-between;
    gap: unset;
  }
}
@media screen and (min-width: 1024px) {
  .p-property__inner {
    justify-content: center;
    gap: clamp(20px, 13.333px + 1.85vw, 40px);
  }
}

.p-property__unit {
  position: relative;
  display: block;
  width: clamp(320px, 178.824px + 39.22vw, 480px);
  box-shadow: 0 3px 6px rgba(34, 34, 34, 0.2);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-property__unit {
    width: clamp(236px, 140px + 12.5vw, 320px);
  }
}

.p-property__unit.is-sold::after {
  position: absolute;
  content: "売約済";
  top: 0;
  right: 0;
  background-color: #222;
  padding: 0.25em 1em;
  color: #fcfcfc;
  font-size: 1rem;
  transform-origin: top right;
  transition: transform 0.4s;
  z-index: 3;
}

.p-property__imgWrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.p-property__imgWrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.25s;
  will-change: background-color;
}

.p-property__imgWrapper img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
  transition: transform 0.4s;
  will-change: transform;
}

.p-property__imgWrapper span {
  position: absolute;
  display: inline-block;
  bottom: 16px;
  right: 32px;
  color: #fcfcfc;
  font-size: 16px;
  letter-spacing: 1px;
  transform: translateX(1em);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;
  will-change: transform, opacity;
  z-index: 2;
}
.p-property__imgWrapper span::before {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #fcfcfc;
}
.p-property__imgWrapper span::after {
  position: absolute;
  content: "";
  bottom: -3px;
  right: -21px;
  width: 16px;
  height: 1px;
  background-color: #fcfcfc;
  transform: rotate(35deg);
}

.p-property__body {
  position: relative;
  padding: 20px;
  background-color: #fcfcfc;
  overflow: hidden;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-property__body {
    padding: clamp(15px, 9.286px + 0.74vw, 20px);
  }
}
.p-property__body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c24524;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;
  will-change: transform, opacity;
  z-index: -1;
}

.p-property__summary {
  margin-bottom: 20px;
  z-index: 2;
}

.p-property__summary dl {
  color: #222;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 1px;
  transition: color 0.4s;
  will-change: color;
}
@media screen and (min-width: 768px) {
  .p-property__summary dl {
    font-size: clamp(0.875rem, 0.732rem + 0.3vw, 1rem);
  }
}

.p-property__location dt {
  border-bottom: 1px solid #222;
  transition: border-color 0.4s;
  will-change: border-color;
}

.p-property__location dd {
  margin-bottom: 10px;
}

.p-property__summary dl:not(.p-property__location) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.p-property__summary dl:not(.p-property__location) dt {
  display: inline-block;
  flex-basis: 96px;
  border-right: 1px solid #222;
  transition: border-color 0.4s;
}
@media screen and (min-width: 768px) {
  .p-property__summary dl:not(.p-property__location) dt {
    flex-basis: 72px;
  }
}
@media screen and (min-width: 1024px) {
  .p-property__summary dl:not(.p-property__location) dt {
    flex-basis: 96px;
  }
}

.p-property__summary dl:not(.p-property__location) dd {
  display: inline-block;
  flex-grow: 1;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .p-property__summary dl:not(.p-property__location) dd {
    padding-left: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .p-property__summary dl:not(.p-property__location) dd {
    padding-left: 16px;
  }
}

.p-property__tags span {
  display: inline-block;
  margin-bottom: clamp(6px, 5.667px + 0.09vw, 7px);
  padding: 0 1em;
  background-color: #c24524;
  border-radius: 1em;
  color: #fcfcfc;
  font-size: clamp(12px, 11.333px + 0.19vw, 14px);
  transition: background-color 0.4s, color 0.4s;
  z-index: 2;
}

.p-property__unit:focus::after {
  transform: scale(1.1);
}
.p-property__unit:focus .p-property__imgWrapper::after {
  background-color: rgba(34, 34, 34, 0.4);
}
.p-property__unit:focus .p-property__imgWrapper img {
  transform: scale(1.1);
}
.p-property__unit:focus .p-property__imgWrapper span {
  transform: translateX(0);
  opacity: 1;
}
.p-property__unit:focus .p-property__body::after {
  transform: translateY(0);
  opacity: 1;
}
.p-property__unit:focus .p-property__summary dl {
  color: #fcfcfc;
}
.p-property__unit:focus .p-property__summary dt {
  border-color: #fcfcfc;
}
.p-property__unit:focus .p-property__tags span {
  background-color: #fcfcfc;
  color: #222;
}
@media (hover: hover) and (pointer: fine) {
  .p-property__unit:hover::after {
    transform: scale(1.1);
  }
  .p-property__unit:hover .p-property__imgWrapper::after {
    background-color: rgba(34, 34, 34, 0.4);
  }
  .p-property__unit:hover .p-property__imgWrapper img {
    transform: scale(1.1);
  }
  .p-property__unit:hover .p-property__imgWrapper span {
    transform: translateX(0);
    opacity: 1;
  }
  .p-property__unit:hover .p-property__body::after {
    transform: translateY(0);
    opacity: 1;
  }
  .p-property__unit:hover .p-property__summary dl {
    color: #fcfcfc;
  }
  .p-property__unit:hover .p-property__summary dt {
    border-color: #fcfcfc;
  }
  .p-property__unit:hover .p-property__tags span {
    background-color: #fcfcfc;
    color: #222;
  }
}

.p-property__link {
  margin-top: 60px;
  text-align: center;
}