@use 'sass:math';
@use 'strip-unit' as su;

// min,maxをpx単位、中央値をpx + vwで出力
// min-max-value interpolationを使用
// https://min-max-calculator.9elements.com/
@function clampPx($min, $medianRem, $medianVw, $max, $base: 16px, $vp: 768px) {
  $min: su.strip-unit($min) * $base;
  $max: su.strip-unit($max) * $base;
  $medianPx: (su.strip-unit($medianRem) * $base);
  $medianVw: $medianVw;
  @return clamp($min, $medianPx + $medianVw, $max);
}
// usage
// .class {
//   width: g.clampPx(0.625rem, 0.074rem, 2.45vw, 1.25rem);
// }
