@use "../global/" as g;

.bg--colorWhite {
  background-color: g.colors(base-white);
}
.bg--colorMain {
  background-color: g.colors(main);
}
.bg--main {
  background-image: url(../img/bg_main.png);
  background-size: cover;
  background-position: center;
}
.bg--photo01 {
  position: relative;
  background-image: url(../img/bg_photo01.png);
  background-size: cover;
  background-position: center;
}
.bg--photo02 {
  position: relative;
  background-image: url(../img/bg_photo02.png);
  background-size: cover;
  background-position: center;
}
